.contact-form .error {
  color: red;
}

.contact-form .field {
  display: flex;
  align-items: center;
}

.contact-form label, .contact-form input {
  font-size: 1rem;
}

.contact-form input {
  height: 2rem;
  color: #2196F3;
}
